<launch>
          <remap from="/test_optim_node/obstacles" to="/costmap_converter/costmap_obstacles" />
	 <remap from="/test_optim_node/planner/obstacles" to="/costmap_converter/costmap_obstacles" />

	
  	<!--- Run optimization test node -->
     <node pkg="teb_local_planner" type="teb_optim_node" name="teb_optim_node" output="screen"  >
        <rosparam file="$(find teb_local_planner)/config/local_map.yaml" command="load" ns="" />
        <rosparam file="$(find teb_local_planner)/config/local_planner_params.yaml" command="load" />
        <rosparam command="load" file="$(find teb_local_planner)/config/costmap_conversion_params.yaml" /> 
     </node>

  	<!-- RVIZ -->
  	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find teb_local_planner)/cfg/rviz_test_optim.rviz" />

</launch>

